@page
@model WebApplication1.Pages.Customer.EditModel
@{
    ViewData["Title"] = "Add";
    Layout = "~/Pages/Part/Layout1.cshtml";
}

<fieldset class="layui-elem-field layui-field-title" style="margin-top: 50px;">
    <legend>客户资料详情</legend>
</fieldset>


<div class="layui-row">
    <div class="layui-col-md4">
        <form class="layui-form layui-form-pane" asp-page-handler="Add" method="post">
            <div class="layui-form-item">
                <label class="layui-form-label">公司名称</label>
                <div class="layui-input-block">
                    <input type="hidden" name="id" value="@Model.customer.Id" >
               
                    <input type="text" name="companyname" value="@Model.customer.CompanyName" autocomplete="off" placeholder="请输入公司名称" lay-verify="required" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">公司地址</label>
                <div class="layui-input-block">
                    <input type="text" name="Address" value="@Model.customer.Address" autocomplete="off" placeholder="请输入公司地址" lay-verify="required" class="layui-input">
                </div>
            </div>


            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">公司联系人</label>
                    <div class="layui-input-block">
                        <input type="text" name="Contacts" value="@Model.customer.Contacts" autocomplete="off" class="layui-input" lay-key="2">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">联系方式</label>
                    <div class="layui-input-inline">
                        <input type="text" name="Tel" value="@Model.customer.Tel" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">签约金额</label>
                    <div class="layui-input-block">
                        <input type="text" name="ContractAmount" value="@Model.customer.ContractAmount" id="date100" autocomplete="off" class="layui-input" lay-key="2">
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">回款</label>
                    <div class="layui-input-inline">
                        <input type="radio" name="HuiKuanStatus" 
                               @(Model.customer.HuiKuanStatus==1?"checked":"") 
                               value="1" title="是" ><div class="layui-unselect layui-form-radio layui-form-radioed"><i class="layui-anim layui-icon layui-anim-scaleSpring"></i><div>是</div></div>
                        <input type="radio" name="HuiKuanStatus" 
                               @(Model.customer.HuiKuanStatus==0?"checked":"") 
                               value="0" title="否"><div class="layui-unselect layui-form-radio"><i class="layui-anim layui-icon"></i><div>否</div></div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-inline">
                    <label class="layui-form-label">登记日期</label>
                    <div class="layui-input-block">
                        <input type="text" name="logtime" id="date1" value="@Model.customer.LogTime.ToString("yyyy-MM-dd")" autocomplete="off" class="layui-input" >
                    </div>
                </div>
                <div class="layui-inline">
                    <label class="layui-form-label">登记人</label>
                    <div class="layui-input-inline">
                        <input type="hidden" name="number" value="@Model.customer.UserId" autocomplete="off" class="layui-input" disabled>
                        <input type="text" name="number" value="@Model.user.Name" autocomplete="off" class="layui-input" disabled>
                    </div>
                </div>
            </div>

            <div class="layui-form-item">
                <button class="layui-btn" lay-submit="" lay-filter="demo2">@Model.btTxt</button>
                @Html.AntiForgeryToken()
            </div>
        </form>

    </div>
@*<div class="layui-col-md1"></div>*@
    <div class="layui-col-md8" style="padding-left: 5px;">
        <div class="layui-row">
            <div class="layui-col-xs10">
             
                <div id="div1" class="toolbar">
                </div>
                
                <div id="div2" class="text"> 
                </div>
              
                <textarea placeholder="请输入拜访记录" id="visitrecord"    class="layui-textarea" style="width: 0px; height: 0px;display:none" ></textarea>

    
            </div>
            <div class="layui-col-xs2" style="padding-left: 10px;">
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <input type="text" class="layui-input" id="test19" lay-key="1" style="width: 120px">
                    </div>
                </div>
                <div class="layui-row">
                    &nbsp;
                </div>
                <div class="layui-row">
                    <div class="layui-col-md12">
                        <input type="hidden" id="tjtype" value="1"/>
                        <button class="layui-btn" id="tj1" lay-submit="" lay-filter="demo1" style="width: 120px">提交拜访记录</button>
                    </div>
                </div>
            
            </div>
            <style>
                .toolbar {
                    border: 1px solid #ccc;
                    
                }
                .text {
                    border: 1px solid #ccc;
                    height: 100px;
                    
                }
            </style>
            
            <script type="text/javascript">
                var E = window.wangEditor;
                var editor = new E('#div1', '#div2');
                var $text1 = $('#visitrecord');
                editor.customConfig.onchange = function (html) {
                    // 监控变化，同步更新到 textarea
                    $text1.val(html);
                }
                editor.customConfig.uploadImgShowBase64 = true;  // 使用 base64 保存图片
               // editor.customConfig.zIndex = -100;
                editor.customConfig.menus = [
                    'head',
                    'bold',
             
                    'underline',
                    'strikeThrough',  // 删除线
                    'foreColor',  // 文字颜色
                    'backColor',  // 背景颜色
                    'link',  // 插入链接
                
                    'justify',  // 对齐方式
                  
                    'emoticon',  // 表情
                    'image'  // 插入图片
               
                ];
                editor.create();
                // 初始化 textarea 的值
                $text1.val(editor.txt.html());
            </script>
        </div>
        <div class="layui-tab" lay-filter="test1">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="1">拜访记录</li>
                <li lay-id="2">回款记录</li>
          
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <script id="demo1" type="text/html">
                        {{#
                        var fn = function(strDate){
                        console.log(strDate);
                        var val=Date.parse(strDate);
                        var date=new Date(val);
                        return format(date,"yyyy-mm-dd") ;
                                   };
                        }}
                        <ul>
                            {{#  layui.each(d.list, function(index, item){ }}

                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis"></i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">{{ fn(item.date) }}</h3>
                                    <p>
                                        {{ item.content }}
                                    </p>
                                </div>
                            </li>

                            {{#  }); }}
                            {{#  if(d.list.length === 0){ }}
                            无数据
                            {{#  } }}
                        </ul>
                    </script>
                    <ul class="layui-timeline" id="view1">

                    </ul>


                </div>
                <div class="layui-tab-item">
                    
                    <script id="demo2" type="text/html">
                        {{#
                        var fn = function(strDate){
                        console.log(strDate);
                        var val=Date.parse(strDate);
                        var date=new Date(val);
                        return format(date,"yyyy-mm-dd") ;
                        };
                        }}
                        <ul>
                            {{#  layui.each(d.list, function(index, item){ }}
                               
                            <li class="layui-timeline-item">
                                <i class="layui-icon layui-timeline-axis"></i>
                                <div class="layui-timeline-content layui-text">
                                    <h3 class="layui-timeline-title">{{ fn(item.date)  }}</h3>
                                    <p>
                                        {{ item.content }}
                                    </p>
                                </div>
                            </li>
               
                            {{#  }); }}
                            {{#  if(d.list.length === 0){ }}
                            无数据
                            {{#  } }} 
                        </ul>
                    </script>
                    <ul class="layui-timeline" id="view2">

                    </ul>

                </div>
          
            </div>
        </div>
        
        
    </div>

</div>



<script>


    //  var index = parent.layer.getFrameIndex(window.name); //获取窗口索引
    $("button#tj1").click(function () {

        var pars = new Object();
        pars.__RequestVerificationToken = $("input[name='__RequestVerificationToken']").eq(0).val();
        pars.type = $("#tjtype").val();
        pars.date = $("#test19").val();
        pars.content = $("#visitrecord").val();
        pars.customerId =@Model.customer.Id;
       // console.log(JSON.stringify(pars));
        $.post("?handler=SaveRecord", pars, function (data) {
            //alert(data.msg);
            parent.layer.msg(data.msg, { icon: 1 });
            // parent.layer.close(index);
            // window.parent.reload2();
            if (data.code == 0) {

                renderRecode();
            }
        },"json");

    });


    function renderRecode() {

        var pars = new Object();
        pars.__RequestVerificationToken = $("input[name='__RequestVerificationToken']").eq(0).val();
        pars.customerId =@Model.customer.Id;
        $.getJSON("?handler=GetRecord", pars, function(data2) {

            console.log(data2);

            var data = { //数据
                "title":"Layui常用模块"
                , "list": data2.v1
            }
            var getTpl = demo1.innerHTML,view = document.getElementById('view1');
            laytpl(getTpl).render(data, function(html){
                view.innerHTML = html;
            });
      
            var data3 = { //数据
                "title":"Layui常用模块"
                , "list": data2.v2
            }
            var getTpl2 = demo2.innerHTML,view = document.getElementById('view2');
            laytpl(getTpl2).render(data3, function(html){
                view.innerHTML = html;
            });

        });
    }

    var laytpl;
    layui.use(['form', 'layedit', 'laydate', 'element','laytpl'], function () {

        var form = layui.form, layer = layui.layer, layedit = layui.layedit, laydate = layui.laydate;
        laytpl = layui.laytpl;
        var element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块


        renderRecode();

        element.on('tab(test1)', function() {
            var id = this.getAttribute('lay-id');
            $("#tjtype").val(id);
            $("#visitrecord").val('');
            if (id == "1") {
                $("#tj1").text( "提交拜访记录");

            } else {
                $("#tj1").text("提交回款记录");

            }



        });

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'

        });
        //初始赋值
        laydate.render({
            elem: '#test19'
            , value: new Date()
        });
        var $ = layui.jquery;

        form.on('submit(demo2)', function (data) {
           // console.log(data.elem);//被执行事件的元素DOM对象，一般为button对象
           // console.log(data.form); //被执行提交的form对象，一般在存在form标签时才会返回
           // console.log(data.field); //当前容器的全部表单字段，名值对形式：{name: value}


            $.post("?handler=save", data.field,
                function (data2, state2) {

                    console.log(state2);
                    if (state2 == "success") {

                        if (data2.code == 0) {


                            layer.alert(data2.msg, {
                               closeBtn: 0
                            }, function(){
                                setTimeout(function () {  window.location.href = "?customerid=@Model.customer.Id" },3);
                            });

                        } else {
                            layer.alert(data2.msg);
                        }
                    } else {

                        layer.alert(state2);
                    }
                },
                "json"
            );



            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });
    });

</script>









